//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NSR-LV4CQN48PC6/I5
//Device: GW1NSR-4C
//Created Time: Sat 05 18 09:50:45 2024

IO_LOC "led" 10;
IO_PORT "led" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "uart_txd" 21;
IO_PORT "uart_txd" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "uart_rxd" 22;
IO_PORT "uart_rxd" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "key" 15;
IO_PORT "key" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "gresetn" 14;
IO_PORT "gresetn" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "gclk" 45;
IO_PORT "gclk" PULL_MODE=UP BANK_VCCIO=1.8;
